<form
    [formGroup]="formGroup"
    novalidate
    autocomplete="off"
    ngxsForm="user.form"
>
    <p>
        <app-text-input
            [control]="formGroup?.get('firstName')"
            label="First name"
        ></app-text-input>
        <app-text-input
            [control]="formGroup?.get('lastName')"
            label="Last name"
        ></app-text-input>
    </p>
    <p>

    </p>
    <p>
        <app-text-input
            [control]="formGroup?.get('email')"
            label="E-mail"
        ></app-text-input>
    </p>
    <button mat-stroked-button color="primary" (click)="addUser()">Add</button>
    <button mat-stroked-button color="primary" (click)="getUserList()">List</button>
</form>
