<h3>Users</h3>
<section>
    <table mat-table [dataSource]="users$ | async">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name</th>
            <td mat-cell *matCellDef="let user"> {{user?.firstName}} {{user?.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address</th>
            <td mat-cell *matCellDef="let user">
                {{user?.address?.city}},
                {{user?.address?.streetName}} {{user?.address?.streetNumber}}
                <span *ngIf="user?.address?.flatNumber">/ {{user?.address?.flatNumber}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button aria-label="Edit user" [routerLink]="'/users/' + user.id">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
<section>
    <button mat-stroked-button color="primary" routerLink="/users/add">Add user</button>
</section>
